body {
background-color: whitesmoke;
font-size: 18px;
font-family: 'Bebas Neue';
display: flex;
justify-content: space-around;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: 12px grey solid;
  color: white;
  padding: 16px 32px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
  
li {
list-style: none;

}

.name {
    text-align: center;
  }

  #modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    /* to show it above other content */
    z-index: 999;
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
  
    /* this is used to center the modal */
    display: none;
    text-align: center;
  }
  
  #modal-container.is-visible {
    display: grid;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 30px;
    border: solid black 10px;
    background-color: #f8f8ff;
    box-shadow: 0 0 80px 5px black;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    font-family: 'PokemonGB', Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
  }
  


  